hr {
    border-style:dotted none none;
    color:lightskyblue;
    width: 5%;
    border-width:10px;
            }
h1 {
    color: #246A73;
}
h3 {
    color:darkviolet;
}
/*********************Class Selectors*****************************/
.introduction {
    background-color: #368F8B;
}
.box1 {
    padding: 20px;
    height:140px;
    width:140px;
    background-color:red;
    border: solid 10px;
    margin: 0;
}
.box2 {
    height: 160px;
    width: 160px;
    background-color: blue;
    border: solid 20px;
    margin-left: 200px;
}
.box3 {
    height: 180px;
    width: 180px;
    background-color: green;
    border: solid 10px;
    margin-left: 400px;
}




.empasis:hover {
    color: green;
}
/********************ID Selector**********************************/
#header {
    color: aqua;
}

/* #F9CFF2 #52154E*/