hr {
    border-style:dotted none none;
    color:lightskyblue;
    width: 5%;
    border-width:10px;
            }
h1 {
    color: #246A73;
}
h3 {
    color:darkviolet;
}
/*********************Class Selectors*****************************/
.introduction {
    background-color: #368F8B;
}



.empasis:hover {
    color: green;
}
/********************ID Selector**********************************/
#header {
    color: aqua;
}

/* #F9CFF2 #52154E*/